@charset "utf-8";

/* General Rules */
html {
    overflow-y: scroll;
}

body {
    background: #fff;
    font-family: Arial,sans-serif;
    font-size: 9pt;
    color: #333631;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 140%;
}

h2 {
    font-size: 130%;
}

h3 {
    font-size: 120%;
    margin: 0 0 10px 0;
    margin-bottom: 10px;
    clear: both;
}

h4 {
    font-size: 110%;
}

a,
a:link,
a:visited,
a:active {
    color: #2651a5;
    text-decoration: none;
}

a:hover {
    color: #2651a5;
    text-decoration: underline;
}

hr {
    margin: 0 0 10px 0;
    height: 1px;
    border: solid 1px #2651a5;
}

form {
    margin: 0;
    padding: 0;
}

select,
input,
textarea {
    font-family: Arial,sans-serif;
    font-size: 9pt;
    font-weight: normal;
}

img {
    vertical-align: bottom;
    border: none;
}

em {
    color: #d70035;
    font-style: normal;
    font-weight: bold;
}

pre {
    margin: 3px;
    padding: 10px 0;
    background-color: #fff3ad;
}

/* Header Rules */
#header {
    margin: 5px 7px;
}

#header h1 {
    display: inline;
    margin-left: 5px;
    text-align: left;
    color: #2651a5;
}

#header table {
    border-collapse: collapse;
    border-spacing: 0;
    float: left;
}

#header p {
    text-align: right;
    margin-top: 2em;
    float: right;
}

/* Global Navigation Rules */
#navi {
    clear: both;
    background-color: #2651a5;
    margin: 0;
    padding: 3px 12px 20px 12px;
    text-align: left;
    font-size: 10pt;
}

#navi ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navi li {
    float: left;
    padding: 0 3px 5px 0;
}

#navi a {
    margin: 0;
    padding: 0 10px 5px 8px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    -moz-border-radius: 5px 5px 0 0;
}

#navi a:hover {
    background-color: #fff;
    color: #2651a5;
}

#navi li.current a,
#navi li.current a:hover {
    background-color: #fff;
    color: #333631;
}

/* Sub Navigation Rules */
#subNavi {
    clear: both;
    border-color: #2651a5;
    border-style: solid;
    border-width: 0 0 1px 0;
    margin: 0;
    padding: 3px 12px 5px 20px;
    text-align: left;
    font-size: 10pt;
/*  position: fixed; */
}

#subNavi a {
    margin: 0;
    padding: 0 5px;
    text-decoration: none;
    color: #2651a5;
}

#subNavi a:hover {
    color: #333631;
    font-weight: bold;
}

#subNavi a.current {
    color: #333631;
    font-weight: bold;
}

/* Main Content Area Rules */
#content {
    margin: 12px 25px 2em 25px;
    padding: 0;
}

.main {
    margin: 0 0 10px 0;
    padding: 0;
}

.main h3 {
    margin-top: 0;
}

.main p {
    margin: 3px;
}

.main table {
    border-collapse: separate;
    border-spacing: 2px;
    empty-cells: show;
    margin-bottom: 10px;
}

.main table.left {
    border-collapse: separate;
    border-spacing: 2px;
    empty-cells: show;
    margin: 0 20px 10px 0;
    float: left;
}

.main caption {
    text-align: left;
}

.main th {
    text-align: right;
    vertical-align: top;
    padding: 2px 5px 2px 0;
    white-space: nowrap;
}

.main td {
    vertical-align: top;
}

.main li {
    margin: 0 0 5px 0;
}

.pagingHead {
    text-align: right;
    font-weight: bold;
}

.paging {
    font-size: 120%;
    margin-top: 2ex;
    text-align: center;
}

.paging span.current {
    margin-left: 10px;
    font-weight: bold;
}

.paging a.numeric {
    margin-left: 10px;
}

.list {
    margin: 0 0 10px 0;
    padding: 0;
    clear: both;
}

.list table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 2px;
    empty-cells: show;
/*  margin-bottom: 10px;*/
}

.list table.child {
    width: 98%;
    margin-left: 15px;
}

.list th {
    text-align: left;
    background-color: #cbd0d3;
    padding: 2px 5px;
    white-space: nowrap;
}

.list th.subhead {
    background-color: #fff;
    padding: 10px 2px 0 2px;
}

.list td {
    background-color: #e5ecf3;
    padding: 2px 5px;
}

/*ListView無効行表示*/
.list td.disable {
    background-color: #a9a9a9;
    padding: 2px 5px;
}



.list table.alternative td {
    background-color: #fce4d6;
    padding: 2px 5px;
}

.list td.over 
{
    cursor: pointer;
    background-color: #aad7ff;
    padding: 2px 5px;
}

.list dl {
    margin: 0;
}

.list dt {
    float: left;
    text-indent: 5px;
    padding: 0 0 5px 0;
}

.list dd {
    padding: 0 0 5px 1em;
}

.switch {
    text-align: right;
    border: none;
    margin: 0;
    float: right;
}

.switch th {
    padding: 0 5px;
}

.tabs {
    width: 100%;
    margin: 0 0 5px 0;
    text-align: right;
}

.tabs a {
    padding: 0 5px;
}

.btns {
    margin: 5px 0;
    text-align: center;
    clear: both;
}

.btns input {
    width: 70px;
}

input.readonly {
    background-color: #cbd0d3;
}

select.readonly {
    background-color: #cbd0d3;
}

/*
option.message {
    color: #696969;
}*/

.number {
    text-align: right;
    ime-mode: disabled;
}

.percent:after {
    content: "%";
}

.magnify {
    vertical-align: bottom;
}

.indent {
    margin-left: 15px;
}

.required {
    font-size: 150%;
    font-weight: bold;
    color: #d70035;
}

.attention {
    color: #d70035;
    font-weight: bold;
}

tr.attention td {
    background-color: #ffe4e1;
}

.message {
	font-weight: bold;
}

.note {
    border: solid 1px #ffd700;
    margin: 5px 2px;
    padding: 5px;
    background-color: #fafad2;
}

.note ul {
    margin: 2px;
    padding-left: 15px;
}

.r3 {
	color: #2651a5;
	/* font-weight: bold; */
}

.format {
    font-style: italic;
    color: #808080;
}

.zebra1 {
    width: 100%;
    background-color: #e5ecf3;
}

.zebra2 {
    width: 100%;
    background-color: #eee;
}

.placedright {
	text-align: right;
	float: right;
}

.priorityA {
    color: #d70035;
    font-weight: bold;
}

.priorityB {
    color: #0037ce;
    font-weight: bold;
}

.confidential {
    color: #1e90ff;
    font-weight: bold;
    text-decoration: underline;
}

/* Footer Rules */
#footer {
    margin-top: 5em;
    padding: 5px 10px 5px 20px;
    background-color : #cbd0d3;
    height: 1.5em;
}

#footer address {
    text-align: right;
}

#footer a {
    background: url("/Purchase/Image/Arrow.gif") no-repeat;
    margin: 0;
    padding: 0 15px;
    text-decoration: none;
    color: #2651a5;
}

/* Structureイメージ用Style */
.structure-img{
    display: block; 
    margin-left: auto;  /* 【ポイント】*/
    margin-right: auto; /* 【ポイント】*/

    width:150px;
    border-collapse: separate;
    border-spacing: 2px;
    empty-cells: show;
}

.cond-left {
    text-align: left;
}

.cond-right {
    text-align: right;
}

/* DropDown CheckBox */
/* Territoryチェックボックス */
div.territory{
    display: none; 
    background: white; 
    width:94px;
    height:155px;
    outline:solid;
    outline-width: 1px;
    z-index:10;
}

div.territory table{
    margin:0 0 0 0;
    text-align:left;
    border-collapse: collapse;
}

div.territory table td{
    padding-right:10px;
}

div.territory table{
    margin:0 0 0 0;
    text-align:left;
    border-collapse: collapse;
}

div.territory table td{
    padding-right:10px;
}

/* Purposeチェックボックス */
div.purpose{
    display: none; 
    background: white; 
    width:230px;
    height:340px;
    outline:solid;
    outline-width: 1px;
    z-index:11;
}

div.purpose table{
    margin:0 0 0 0;
    text-align:left;
    border-collapse: collapse;
}

div.purpose table td{
    padding-right:10px;
}

div.purpose table{
    margin:0 0 0 0;
    text-align:left;
    border-collapse: collapse;
}

div.purpose table td{
    padding-right:10px;
}

.table th.sortField {
    cursor: pointer;
    position: relative;
    color: blue
}

.table th::before, .table th::after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border: 5px solid transparent;
    right: 10px;
    top: 50%;
}

.table th.sortField::before {
    border-bottom-color:#cbd0d3;
    margin-top: -10px;
}
.table th.sortField::after {
    border-top-color: #cbd0d3;
    margin-top: 2px;
}
.table th.asc.sortField::before {
    border-bottom-color: #2b428f;
}
.table th.desc.sortField::after {
    border-top-color: #2b428f;
}

#ehs ul {
    column-count: 4;
    list-style: none;
}

#ehstitle hr {
    margin: 0 0 10px 0;
    height: 1px;
    border: solid 1px #2651a5;
    text-align: left;
}
/* Search Resultコントロール用 */
#SearchResultList_PagerTop div.paging a.current {
     pointer-events: none;
     text-decoration: none;
     color: inherit;
     font-weight: bold;
}
#SearchResultList_PagerBottom div.paging a.current {
     pointer-events: none;
     text-decoration: none;
     color: inherit;
     font-weight: bold;
}