-- 【概要】
-- Purchase 用のデータベースとユーザを作成します。
-- 
-- 【注意事項】
-- ユーザ作成はログイン Purchase が存在していることを前提としていますので、
-- ログイン Purchase が存在しない場合は別途ログインを作成してください。
--
-- 【変数説明】
-- ScriptPath   : このファイルが存在するディレクトリ(フルパス)
-- DataBaseName : 作成するデータベース名
-- DBFileDir    : プライマリ、ログファイルの保存ディレクトリ(フルパス)
--                開発サーバ(hs-sys0255)の場合
--                D:\Program Files\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\
-- 【使用方法】
-- 1. 変数を設定してください。
-- 2. 接続先データベースサーバを確認、もしくはデータベースサーバに接続してください。
-- 3. メニューバーから [クエリ] - [SQLCMDモード] をチェック。
-- 4. スクリプトを実行させてください。

--:setvar ScriptPath C:\Initialized_Purchase_Database\
--:setvar DataBaseName AKUTSU_TEST
--:setvar DBFileDir "C:\Program Files\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\"

USE [master]
GO

/****** オブジェクト:  Database $(DataBaseName)    スクリプト日付: 08/29/2008 09:57:48 ******/
CREATE DATABASE $(DataBaseName) ON  PRIMARY 
( NAME = N'$(DataBaseName)', FILENAME = N'$(DBFileDir)$(DataBaseName).mdf' , SIZE = 102400KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'$(DataBaseName)_log', FILENAME = N'$(DBFileDir)$(DataBaseName)_1.ldf' , SIZE = 57664KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 COLLATE Japanese_CI_AS
GO
EXEC dbo.sp_dbcmptlevel @dbname=N'$(DataBaseName)', @new_cmptlevel=90
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC $(DataBaseName).[dbo].[sp_fulltext_database] @action = 'disable'
end
GO

USE $(DataBaseName)
GO

/****** オブジェクト:  User [Purchase]    スクリプト日付: 08/29/2008 10:09:14 ******/
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'Purchase')
CREATE USER [Purchase] FOR LOGIN [Purchase] WITH DEFAULT_SCHEMA=[dbo]
GO
EXEC sp_addrolemember N'db_owner', N'Purchase'
GO
