UPDATE
  Supplier
SET
  LocationCode = 'US'
WHERE
  R3SupplierCode = '0000010445'

GO

UPDATE
  Supplier
SET
  LocationCode = 'EU'
WHERE
  R3SupplierCode = '0000010749'

GO

UPDATE
  Supplier
SET
  LocationCode = 'CN'
WHERE
  R3SupplierCode = '0000012485'

GO

UPDATE
  Supplier
SET
  LocationCode = 'CN'
WHERE
  R3SupplierCode = '0000012978'

GO
