/****** オブジェクト:  View [dbo].[v_CompetitorProduct]    スクリプト日付: 10/29/2008 12:10:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_CompetitorProduct] AS
SELECT 
	SCode AS ProductNumber, 
	Z3 AS CASNumber, 
	MAX(CASE LEFT(LTRIM(STR(Z1)), 1) WHEN '1' THEN 1 ELSE 0 END) AS ALDRICH, 
	MAX(CASE LEFT(LTRIM(STR(Z1)), 1) WHEN '2' THEN 1 ELSE 0 END) AS ALFA, 
	MAX(CASE LEFT(LTRIM(STR(Z1)), 1) WHEN '3' THEN 1 ELSE 0 END) AS WAKO, 
	MAX(CASE LEFT(LTRIM(STR(Z1)), 1) WHEN '4' THEN 1 ELSE 0 END) AS KANTO, 
	MAX(CASE LEFT(LTRIM(STR(Z1)), 1) WHEN '5' THEN 1 ELSE 0 END) AS ACROS
FROM 
	dbo.s_CompetitorPrice
GROUP BY 
	SCode, Z3
GO
